<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Contact Form</h1>

    <form method="POST" action="/contact">
        <input type="text" name="name" placeholder="Enter name" required><br><br>
        <input type="email" name="email" placeholder="Enter email" required><br><br>
        <textarea name="message" placeholder="Enter message"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>